@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

*{
    margin: 0;
    font-family: 'Kaisei Tokumin', serif;
}

body{
    background-color: #f0f0f0;
}

.drop-bar{
    display: none;
}

.drop-bar-option{
    display: none;
}

#smallnav{
    visibility: hidden;
    height: 0px;
}

