<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Le Delizie</h1>
        <nav id = "largenav">
            <a href = "/home">Home</a>
            <a href = "/search">Search Recipes</a>
            <a href = "/submit">Submit Recipe</a>
            <a href = "/register">Register</a>
        </nav>
        <nav id = "smallnav">
            <div class="drop-bar-button"><span><i class="fas fa-bars header-fa"></i></span>
              <a class="drop-bar-option" href="/index">Home</a>
              <a class="drop-bar-option" href="/search">Search Recipes</a>
              <a class="drop-bar-option" href="/submit">Submit Recipe</a>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div id = "footerbox">
          <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
          <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      </footer>
</body>
</html>