{% extends "base.html" %}
{% block content %}
<div id = "mainDescription">
    <h2>About Us</h2><br>
        <p>
        Our main objective at Le Delizie is to share recipes 
        from all around the world, and accept new ones from users. 
        We want to create a space for all aspiring chefs worldwide 
        to take inspiration, so please submit! A national dish, a 
        special twist on a classic that your grandmother created, all 
        recipes are welcome at Le Delizie!
        </p>
        <p>
        Our sponsers, Hanson 
        Cooking Utensils, have their social media linked at the bottom 
        of the page and are going to be offering great discounts on their cooking 
        supplies for any major contributers to the site, so get cooking! 
        The Delizie Deal (More information on Hansons social media) is also 
        available for those who register with a 50% discount on every 4 items
        of cooking utensils bought after registering at Le Delizie
        </p> 
</div>
<div id = recentAdditions>
    <h2>Recent Additions</h2><br>
    <div id = "leftRecentDiv">
        <a href="/recipes/{{recent1._id}}">
            <div class = "recentRecipes">
                <h3 class = "hoverRecentRecipe">{{ recent1.title }}</h3>
                <img src = {{ recent1.image }}>
            {{ recent1.description }}
            </div>
        </a>
    </div>
    <div id = "rightRecentDiv">
        <a href="/recipes/{{recent2._id}}">
            <div class = "recentRecipes">
                <h3 class = "hoverRecentRecipe">{{ recent2.title }}</h3>
                <img src = {{ recent2.image }}>
                {{ recent2.description }}
            </div>   
        </a> 
    </div>
</div>
{% endblock %} 