{% extends "base.html" %}
{% block content %}
<div id = "mainDescription">
    <h2>About Us</h2>
      <p>
        Our main objective at Le Delizie is to share recipes 
        from all around the world, and accept new ones from users. 
        We want to create a space for all aspiring chefs worldwide 
        to take inspiration, so please submit! A national dish, a 
        special twist on a classic that your grandmother created, all 
        recipes are welcome at Le Delizie!
      </p>
</div>
{% endblock %} 