{% extends "base.html" %}
{% block content %}
<div>
    <div>
        <div id = "profileDiv">
            <h2>{{username}}'s profile</h2><br>
            <h3>Your contributions</h3>
            {% for j in range(counter) %}
                <div class = "resultRecipe"><a href="/recipes/{{  anchorUrl[j] }}">
                    <h3>{{  titleArray[j] }}</h3>
                    <img src = {{ imageArray[j] }}>
                    {{  descriptionArray[j] }}
                    </a><br>
                    <a class = "deletebutton" href="/deleteRecipe/{{  anchorUrl[j] }}">Delete</a>
                    <a class = "editbutton" href="/editRecipe/{{  anchorUrl[j] }}">Edit</a><br>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} 