{% extends "base.html" %}
{% block content %}
<div id = "recipeDiv">
    {% for task in recipes %}
        <h2>{{ task.title }}</h2>
        <img src = {{ task.image }}><br>
        {{ task.description }}<br>
        <ul>
            <li>{{ task.ingredients }}</li><br>
        </ul>
        <ol>
            {% for i in ["hello", "this", "is", "a", "test"] %}
            <li>
                {% for j in testArray %}
                    <ul>j</ul>
                {% endfor %}
            </li>
        {% endfor %}
        </ol>
    {% endfor %}
</div>
{% endblock %} 