{% extends "base.html" %}
{% block content %}
<div class = "login_reg_style">
    <h3>Register Account</h3>
    <div class = "loginWrap">
        <form method = "POST" action = "/register">
            <div>
                <label class = "smallLabel" for = "username">Username</label><br>
                <input class = "loginInputs" id = "username" name = "username" type = "text" pattern = "^[a-zA-Z0-9]{5,15}$" minlength="5" maxlength="15" required><br>
            </div>
            <div>
                <label class = "smallLabel" for = "password">Password</label><br>
                <input class = "loginInputs" id = "password" name = "password" type = "password" pattern = "^[a-zA-Z0-9]{5,15}$" minlength="5" maxlength="15" required><br>
            </div>
            <div>
                <button type = "submit">Login<i class="fas fa-sign-in-alt"></i></button>
                <p>Already registered?<a href="/login">Log in</a></p>
            
            </div>
        </form>
    </div>
</div>
{% endblock %} 