{% extends "base.html" %}
{% block content %}

<h3>Register Account</h3>

<div>
    <form method = "POST" action = "/register">
        <div>
            <div>
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <input id = "username" name = "username" type = "text">
                <label for = "registerAccount">Username</label>
            </div>
        </div>
        <div>
            <div>
                <i class="fa fa-user-lock" aria-hidden="true"></i>
                <input id = "password" name = "password" type = "password">
                <label for = "password">Password</label>
            </div>
        </div>
        <div>
            <button type = "submit">Register <i class="fas fa-sign-in-alt"></i></button>
        </div>
    </form>
</div>
{% endblock %} 