{% extends "base.html" %}
{% block content %}
<div id = "searchPage">
    <div id = "searchDescription">
        <h2>Search</h2><br>
        <p>
            Search our range of recipes, currently we have {{ siteRecipeCount }} recipes on our site,
            we have a feeling you'll find the perfect one for that special meal. Either search, or use 
            our randomiser to get a surprise recipe, the choice is yours!
        </p><br>
    </div>
    <div id = "searchFormDiv">
        <form action="searchresult" method="POST">
            <input id="user_input" type="text" name="search_Query" value="{{ search }}" required>
            <input id="search_submit" type="submit" value="Submit">
        </form>   
        <a href="/randomrecipe"><button id = "randomRecipe">Randomiser</button></a>
    </div>
    {% for j in range(counter) %}
    <div class = "resultRecipe"><a href="/recipes/{{  anchorUrl[j] }}">
        <h3>{{  titleArray[j] }}</h3>
        <img src = {{ imageArray[j] }}>
        {{  descriptionArray[j] }}
    </a>
    </div>
    {% endfor %}
    <div id = "resultCounter">
        <p>{{ searchCounter }}</p>
    </div>
</div>



{% endblock %} 